<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RS template</title>
</head>
<body>
    <h2>RS strengths for <span th:text="${IndexName}"></span></h2>

    <div th:each="List: ${RSLists}">
        <table border="1">
            <tr>
                <td><strong>Ticker</strong> </td>
                <td><strong>Sector</strong></td>
                <td><strong>Sub-Industry</strong></td>
                <td><strong>rs 1y</strong></td>
                <td><strong>rs 6 mth</strong></td>
                <td><strong>rs 3 mth</strong></td>
            </tr>
            <tr th:each="rsItem:${List}">
                <td><span th:text="${rsItem.ticker}"></span></td>
                <td><span th:text="${rsItem.sector}"></span></td>
                <td><span th:text="${rsItem.subIndustry}"></span></td>
                <td><span th:text="${rsItem.rs1y}"></span></td>
                <td><span th:text="${rsItem.rs6mth}"></span></td>
                <td><span th:text="${rsItem.rs3mth}"></span></td>
            </tr>
        </table>
        <br>
    </div>
</body>
</html>